/*!
 * dtree.css v1.0.0 
 * mefe.net
 * 2014-08-21
 */


.dtree ul, li
{
    margin:0px;
    padding: 0px;
    list-style-type: none;
    
}

.dtree a
{
    height: 18px;
    display: inline-block;
    padding-top: 0px;
    color:#000;
    text-decoration: none;
}

.dtree .text
{
    height: 18px;
    display: inline-block;
    float: left;
    text-decoration: none;
}


.dtree li
{
    height: 18px;
    display: block;
    width: 200px;
    line-height: 20px;
}

li.folder-group
{
    height: auto;
    
}

.folder-group ul
{
   padding-left: 20px;
   display: none;
}

.folder
{
    background: url('../img/misc.png') 0px -39px no-repeat;
    padding-left: 20px;
     height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.folder-open
{
    background: url('../img/misc.png') -21px -39px no-repeat;
    padding-left: 20px;
    height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.main
{
    background: url('../img/misc.png') 2px 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.folder-group
{
    background: url('../img/misc.png') -46px -2px repeat-y;
}

.folder-group.last
{
   background: none;
}

.plus
{
    background: url('../img/misc.png') 0px -59px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.last .plus
{
    background: url('../img/misc.png') 0px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.folder-group.last .minus
{
    background: url('../img/misc.png') -18px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.minus
{
    background: url('../img/misc.png') -18px -59px no-repeat #fff;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.page
{
    background: url('../img/misc.png') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join
{
    background: url('../img/misc.png') 0 -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join-last .join
{
    background: url('../img/misc.png') -18px -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

table tr td input[type="text"],select,textarea
{
border:0;
padding:2px;
font-size:1em;
font-family:Arial, sans-serif;
color:#aaa;
border:solid 1px #ccc;
margin:0 0 10px;
width:300px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}

table tr td input[type="submit"]
{
border:0;
background-color:#547E25;
padding:2px;
font-size:1em;
font-family:Arial, sans-serif;
color:#aaa;
border:solid 1px #ccc;
margin:0 0 5px;
width:100px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}
table tr td input[type="submit"]:hover
{
border:0;
background-color:#80C038;
padding:2px;
font-size:1em;
font-family:Arial, sans-serif;
color:#000000;
border:solid 1px #ccc;
margin:0 0 5px;
width:100px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}


table tr td input:focus {
  outline: none;
}
@media screen and (max-width:520px) {
    ul{float:none; font-size:.9em;}
    ul li {float:none; font-size:.9em;}
}