.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}
.p0{
    padding: 0px;   
}
.mb_30{
    margin-bottom: -30px;
}

body{
    line-height: 24px;
    font-size: 14px;
    font-family: $pop;
    font-weight: 300;
    color: $pfont;
}
h1, h2, h3, h4, h5, h6{
    font-family: $pop;
    font-weight: 600;
}

button:focus{
    outline: none;
	box-shadow: none;
}

.p_120{
	padding-top: 30px;
	padding-bottom: 30px;
}
.mt-25 {
    margin-top: 25px;
}

.container{
    @media(min-width:1200px){
        max-width: 1170px;
    }
}
@media(min-width: 1620px){
	.container.box_1620{
		max-width: 1650px;
	}
}


/* Main Title Area css
============================================================================================ */
.main_title{
	text-align: center;
	max-width: 690px;
	margin: 0px auto 75px;
	h2{
		font-size: 36px;
		font-family: $pop;
		font-weight: 600;
		color: $dip;
		margin-bottom: 15px;
	}
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $pop;
		color: $pfont;
		margin-bottom: 0px;
	}
}
.white_title{
	text-align: center;
	max-width: 690px;
	margin: 0px auto 75px;
	h2{
		font-size: 36px;
		font-family: $pop;
		font-weight: 600;
		color: #fff;
		margin-bottom: 15px;
	}
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $pop;
		color: $pfont;
		margin-bottom: 0px;
	}
}
/* End Main Title Area css
============================================================================================ */



