/* Home Banner Area css
============================================================================================ */
.home_banner_area{
	position: relative;
	z-index: 1;
	min-height: 600px;
	.banner_inner{
		position: relative;
		overflow: hidden;
		width: 100%;
		min-height: 600px;
		.overlay{
			background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			bottom: 0;
			z-index: -1;
		}
		.banner_content{
			color: #fff;
			h5{
				text-transform: uppercase;
				font-family: $pop;
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 15px;
			}
			h3{
				font-size: 48px;
				font-family: $pop;
				font-weight: 600;
				margin-bottom: 20px;
			}
			p{
				font-size: 14px;
				line-height: 24px;
				font-family: $pop;
				font-weight: 300;
				margin-bottom: 25px;
			}
			.white_btn{
				margin-left: 6px;
			}
		}
	}	
	
}
.blog_banner{
	min-height: 780px;
	position: relative;
	z-index: 1;
	.banner_inner{
		background: #04091e;
		position: relative; 
		overflow: hidden;
		width: 100%;
		min-height: 780px;
		z-index: 1;
		.overlay{
			background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
			opacity: .5;
			height: 125%;
		}
		.blog_b_text{
			max-width: 700px;
			margin: auto;
			color: #fff;
			margin-top: 90px;
			h2{
				font-size: 60px;
				font-weight: 600;
				font-family: $pop;
				line-height: 66px;
				margin-bottom: 15px;
			}
			p{
				font-size: 16px;
				margin-bottom: 35px;
			}
		}
	}
}


.banner_area{
	position: relative;
	z-index: 1;
	min-height: 300px;
	.banner_inner{
		position: relative;
		overflow: hidden;
		width: 100%;
		min-height: 300px;
		background: #060b20;
		z-index: 1;
		.overlay{
			background: url(../img/banner/banner.jpg) no-repeat scroll center center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 125%;
			bottom: 0;
			z-index: -1;
			opacity: .25;
		}
		.banner_content{
			h2{
				font-weight: bold;
				color: #fff;
				font-size: 48px;
				font-family: $pop;
				margin-bottom: 12px;
				padding-top: 10px;
			}
			.page_link{
				a{
					font-size: 14px;
					color: #fff;
					font-family: $pop;
					margin-right: 32px;
					position: relative;
					&:before{
						content: "\e87a";
						font-family: 'Linearicons-Free';
						position: absolute;
						right: -25px;
						top: 50%;
						transform: translateY(-50%);
					}
					&:last-child{
						margin-right: 0px;
						&:before{
							display: none;
						}	
					}
					&:hover{
						color: $baseColor;
					}
				}
			}
		}
	}
}

/* End Home Banner Area css
============================================================================================ */